
/*---------------- about --------------------*/

.about{
    width: 100%;
    background: white;
    padding: 20px;
}

.about__img{
    width: 90%;
    margin: auto;
    display: block;
}

.about__heading{
    text-align: center;
}

.about__heading--small{
    text-align: left;
}

/*--------------- bin ---------------------*/

@media (min-width: 992px){
    .container.bin-container{
        max-width: 1245px;
    }
}


.totoal-price{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #6c757d;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.payment-form{
    background: rgba(0, 0, 0, 0.12);
    padding: 20px;
}

/*--------------- footer ---------------------*/

.footer{
    height: 140px;
    background: #6c757d;
    margin-top: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer__contact-link{
    color: white;
}

.footer__contact-link:hover{
    color: white;
}

.footer__icon{
    color: white;
}

.footer__heading{
    font-size: 20px;
    color: white;
    text-align: center;
}

.footer__contacts{
    display:flex;
    flex-direction:column;
    height: fit-content;
}

/*-------------- navbar ----------------------*/

.navbar .nav-link.sign-up-link{
    border: 1px solid black;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.125rem;
}

.navbar .nav-login-links{
    flex-direction: row;
    margin-left: 10px;
}

.navbar .nav-link-shopping-basket{
    font-size: 23px;
}



@media screen and (max-width: 991px ){
    .nav-login-links{
        position: absolute;
        right: 93px;
        top: 7px;
        margin-left: 0;
    }
}

/*------------ home ------------------------*/

.item-preview__price{
    font-weight: bold;
}

/*---------------- item --------------------*/


.item-img{
    max-width: 100%;
    height: 600px;
    display: block;
}

.item{
    padding: 10px 20px;
    background: #ffffff;
}

.item__title{
    font-size: 30px;
    font-weight: bold;
}

.item__shopping-basket-icon{
    font-size: 20px;
}

.item__price{
    font-size: 30px;
}

/*------------- login -----------------------*/

.login-form{
    width: 300px;
    height: 500px;
    margin: 60px auto 0 auto;
    padding: 20px;
    background: white;
    height: fit-content;
}

/*-------------- other ----------------------*/

.home-card__img{
    height: 251px;
    width: 90%;
    margin: auto;
}

.home-card-container{
    margin-top: 20px;
}

.bg-green{
    background: #009688;
}

.bg-light-gray{
    background: rgba(153, 153, 153, 0.2);
}

.categories__item{
    background: rgba(153, 153, 153, 0.2);
}