.footer{
  height: 140px;
  background: #6c757d;
  margin-top: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.footer__contact-link{
  color: white;

  &:hover{
    color: white;
  }
}

.footer__contact{

}

.footer__icon{
  color: white;
}

.footer__heading{
  font-size: 20px;
  color: white;
  text-align: center;
}

.footer__contacts{
  display:flex;
  flex-direction:column;
  height: fit-content;
}