/*
 Bootstrap material css
*/
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";

/*
Font awosome
 */

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

.home-card__img{
    height: 251px;
    width: 90%;
    margin: auto;
}

.home-card-container{
    margin-top: 20px;
}


.bg-green{
    background: #009688;
}

.bg-light-gray{
    background: rgba(153, 153, 153, 0.2);
}

@import "footer";
@import "header";
@import "login";
@import "item";
@import "home";
@import "about";

.categories__item{
    background: rgba(153, 153, 153, 0.2);
}